[submodule "components/libxmp"]
	path = components/libxmp
	url = https://github.com/libxmp/libxmp.git
[submodule "external/libvgm"]
	path = external/libvgm
	url = https://github.com/ValleyBell/libvgm.git
